DB_HOST=localhost
DB_PORT=5432
DB_NAME=faers
DB_USER=postgres
DB_PASSWORD=yourpassword
FAERS_START_YEAR=2022
FAERS_END_YEAR=2024
FAERS_QUARTERS=1,2,3,4
KAGGLE_REFERENCE_DIR=data/reference/kaggle
REFERENCE_BRAND_GENERIC_FILE=
REFERENCE_MEDDRA_SOC_FILE=
